.bg-top {
  background-image: url(./assets/bg_1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-about {
  background-image: url(./assets/bg_2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-tokenomics {
  background-image: url(./assets/bg_3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-outline {
  -webkit-text-stroke: 0.1px black;
}

.leading-loosed {
  line-height: 1.5;
}

.gif-custom {
  width: 580px;
  max-width: 100%;
  height: 300px;
}

.gif-custom-1 {
  width: 820px;
  max-width: 100%;
  height: 280px;
}

.line {
  background: #6284DB;
  animation: line 6s infinite linear;
}

@keyframes line {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.rounded-4xl{
  border-radius: 40px 40px 15px 40px;
}